//   < --- MEDIA REQUESTS --- >   \\
//   === Figma макет 1200px (контент выстраивается в 4 колонки) ===   \\
@media screen and (min-width: 993px){
  ._container{max-width: 1200px;}
  .subscribing__title{
    margin: 90px auto 39px auto;
  }
  .get-section{
    padding: 94px 0 33px 0;
  }
}

//   === Figma макет 768px (контент выстраивается в 2 колонки) ===   \\
@media  (max-width: 992px){
  .editor-section{
    padding: 120px 0 98px 0;
    background-color: #ffffff;
    .editor__title{
      font-size: 42px;
      line-height: 42px;
    }
    .editor__subtitle{
      margin: 0 0 24px 0;
    }
  }
  .subscribing-section{
    .subscribing__title{
      margin: 90px auto 39px auto;
      .title{
        font-size: 42px;
        line-height: 44px;
      }
    }

    .subscribing-cards{
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(2, 50%);
      grid-gap: 25px 30px;
    }
    .card-description-wrap{
      .card__button{
        &:active{
          background-color: grey;
        }
      }
    }
  }
  .get-section{
    padding: 61px 0 52px 0;
    &__container{
      grid-template-areas:
            'get-section-title'
            'get-section-content'
            'get-section-main-image' !important;
      justify-content: center;
    }
  }
  .get-section-title-wrap{
    padding: 0 0 52px 0;
    .get-section__title{
      text-align: center;
      font-size: 42px;
      line-height: 44px;
    }
  }
  .get-section__content__wrap{
    grid-row-gap: 55px;
  }
  .get-section__content{
    grid-template-columns: 12% 88%;
    justify-content: center;
    &__text{
      margin: 0 0 0 10px;
      h5{
        margin: 0 0 6px 0;
        font-size: 16px;
        line-height: 21px;
      }
      p{
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .get-section__image{
    margin: 73px 0 0 0;
    display: flex;
    justify-content: flex-end;
  }
}
//   === Figma макет 320px (контент выстраивается в 1 колонку) ===   \\
@media (max-width: 480px){
  .editor-section{
    padding: 70px 0 88px 0;
    .editor__title{
      font-size: 26px;
      line-height: 28px;
      margin: 0 0 27px 0;
    }
    .editor__subtitle{
      margin: 0 0 36px 0;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .subscribing-section__container{
    .subscribing__title{
      margin: 14px auto 32px auto;
      .title{
        font-size: 28px;
        line-height: 42px;
      }
    }
    .subscribing-cards{
      padding: 0 0 53px 0;
    }
  }
  .subscribing-section{
    .subscribing-cards{
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: repeat(4, 25%);
      grid-row-gap: 18px;
    }
  }
  .card-description-wrap{
    .card__price{
      line-height: 62px;
    }
  }

  .get-section{
    padding: 32px 0 6px 0;
    .get-section-title-wrap{
      padding: 0 0 36px 0;
      .get-section__title{
        font-size: 32px;
        line-height: 38px;
      }
    }
    .get-section__content__wrap{
      grid-row-gap: 37px;
    }
    .get-section__content{
      grid-template-columns: 100%;
      justify-items: center;
      grid-template-rows: repeat(2, auto);
      &__text{
        margin: 27px 0 0 0;
        text-align: center;
        h5{
          margin: 0 0 14px 0;
          line-height: 16px;
        }

      }
    }
  }
}
@media (max-width: 432px){
  .editor-button:last-child{
    margin: 10px 0 0 0;
  }
}
@media (max-width: 319px) {
  .hat-fork-app-section{
    display: none;
  }
  .talk-about-fork-section{
    display: none;
  }
  .editor-buttons-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .editor-button:first-child{
      margin: 0 0 10px 0;
    }
  }
}