@import "../variables-styles/variables";
@import "../mixins-styles/mixins";

//========== min-width: 320px (and (max-width: 480px))===
@media (min-width: 320px) {
  .talk-about-fork-section{
    &__container {
      width: 100%;
      height: 100%;
      max-width: 480px;
      padding: 0px 25px 0 25px;
      //border: 2px solid #f60000;
      background-image: linear-gradient(to top, rgba(76, 60, 79, 0.5), rgba(100, 90, 100, 0));
    }

    width: 100%;
    height: fit-content;
    margin: 0 auto;
    background-image: url("../img-min/sections-background-images/people-talk-background(Vika).png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;

    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    text-align: center;
    background-color: #4c3c4f;
  }

  .talk-about-title{
    @include title-style();
    font-size: 42px;
    line-height: 50px;
    margin-top: 57px;
  }

  .talk-about-content{
    &__link{
      @include display-flex-column-center();
      margin-top: 45px;
      font: $talkabout-link-font-lato;
      color: $basic-light-color;
      text-decoration: none;
    }

    .content-img{
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  .talk-about-text{
    position: relative;
    margin: 40px 0 30px 0;

    p{
      @include hat-logo-purple-txt();
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: $shadow-purple-color;
    }

    span{
      background-color: $basic-purple-color;
      width: 90%;
      height: 2px;
      position: absolute;
      left: 5%;
      top: 100%;
      margin-top: 22px;
    }
  }

}