@import "../variables-styles/variables";
@import "../mixins-styles/mixins";

//========== min-width: 993px (and (max-width: 1200px))===
@media (min-width: 993px) {
  .talk-about-fork-section{
    &__container {
      width: 100%;
      height: 100%;
      max-width: 1200px;
      padding: 0;
      //border: 2px solid #5de200;
      background-image: linear-gradient(to top, rgba(76, 60, 79, 0.5), rgba(100, 90, 100, 0));
      }

    width: 100%;
    height: fit-content;
    margin: 0 auto;
    background-image: url("../img-min/sections-background-images/people-talk-background(Vika).png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;

    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    text-align: center;
    background-color: #4c3c4f;
  }

  .talk-about-title{
    @include title-style();
    font-size: 48px;
    line-height: 50px;
    margin: 108px 0;
    padding: 0 25px;
  }

  .talk-about-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    &__link{
      @include display-flex-column-center();
      width: 31%;
      margin: 0 0 100px 0;
      padding: 0 15px;
      font: $talkabout-link-font-lato;
      font-size: 16px;
      color: white;
      text-decoration: none;
    }

    .content-img{
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  .talk-about-text{
    position: relative;
    width: 70%;
    left: 15%;
    margin: 40px 0 30px 0;
    padding: 0 15px;

    p {
      @include hat-logo-purple-txt();
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: $shadow-purple-color;
    }

    span{
      background-color: $basic-purple-color;
      width: 80%;
      height: 2px;
      position: absolute;
      left: 10%;
      top: 100%;
      margin-top: 22px;
    }
  }

}