@import "../variables-styles/variables";
@import "../mixins-styles/mixins";

//@media  (min-width: 1px) and (max-width: 319px){
//  body{ display: none;}
//}

//========== min-width: 320px (and (max-width: 480px))===
@media (min-width: 320px) {
  .talk-about-fork-section{
    &__container {
      width: 100%;
      height: 100%;
      max-width: 480px;
      padding: 0px 25px 0 25px;
      background-image: linear-gradient(to top, rgba(76, 60, 79, 0.5), rgba(100, 90, 100, 0));
      //border: 2px solid #f60000;
    }

    width: 100%;
    height: fit-content;
    margin: 0 auto;
    background-image: url("../img-min/sections-background-images/people-talk-background(Vika).png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;

    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    text-align: center;
    background-color: #4c3c4f;
  }

  .talk-about-title{
    @include title-style();
    font-size: 42px;
    margin-top: 57px;
  }

  .talk-about-content{
    &__link{
      @include display-flex-column-center();
      margin-top: 45px;
      font: $talkabout-link-font-lato;
      color: $basic-light-color;
      text-decoration: none;
    }

    .content-img{
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  .talk-about-text{
    position: relative;
    margin: 40px 0 30px 0;

    p{
      @include hat-logo-purple-txt();
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: $shadow-purple-color;
    }

    span{
      background-color: $basic-purple-color;
      width: 90%;
      height: 2px;
      position: absolute;
      left: 5%;
      top: 100%;
      margin-top: 22px;
    }
  }

}


//========== min-width: 481px (and (max-width: 992px))===
@media (min-width: 481px) {
  .talk-about-fork-section{
    &__container {
      max-width: 992px;
      //border: 2px solid #0035f6;
    }
  }

  .talk-about-title{
    margin: 87px 0;
    padding: 0 25px;
  }

  .talk-about-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    &__link{
      width: 45%;
      margin: 0 0 50px 0;
      padding: 0 15px;
    }
  }

  .talk-about-text{
    padding: 0 15px;

    span{
      width: 70%;
      left: 15%;
    }
  }

}


//========== min-width: 993px (and (max-width: 1200px))===
@media (min-width: 993px) {
  .talk-about-fork-section{
    &__container {
      max-width: 1200px;
      padding: 0;
      //border: 2px solid #5de200;
    }
  }

  .talk-about-title{
    font-size: 48px;
    margin: 108px 0;
  }

  .talk-about-content{
    &__link{
      width: 31%;
      margin: 0 0 100px 0;
      padding: 0 15px;
    }
  }

  .talk-about-text{
    width: 70%;
    left: 15%;

    span{
      width: 80%;
      left: 10%;
    }
  }

}