@import "../variables-styles/variables";
@import "../mixins-styles/mixins";

//@media  (min-width: 1px) and (max-width: 319px){
//  body{ display: none;}
//}

//========== min-width: 320px (and (max-width: 480px))===
@media (min-width: 320px) {
  .hat-fork-app-section{
    &__container {
      position: relative;
      max-width: 480px;
      height: 100%;
      margin: 0 auto;
      //border: 2px solid #f60000;
    }
    width: 100%;
    height: 94%;
    margin: 0 auto;
    background-image: url("../img-min/sections-background-images/head-bg-img(Vika).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

//------------------------------- хэдэр в шапке -------
  .hat-header{
    @include display-flex-row-spaceBtw-center();
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0 auto;
    max-width: 476px;
    padding: 30px 20px 20px 15px;
    background-color: #222222;
    z-index: 9;
    //---- лого (nav) в хэдере в шапке ----------------
    &__logo{
      @include display-flex-row-spaceBtw-center();
      cursor: pointer;
      .logo-img{
        display: none;
      }
      .logo-img.active{
        display: flex;
        max-width: 100%;
        margin: 0 10% 0 0;
      }
      .logo-txt{
        display: none;
      }
    }

    //---- меню (nav) в хэдере в шапке ----------------
    &__menu {
      display: block;
      position: absolute;
      width: 94%;
      top: -1000%;
      left: 2.5%;
      background-color: #333333;

      .menu-list {
        text-align: left;
      }

      .menu-link {
        display: block;
        position: relative;
        @include hat-header-menu-link();
        color: $basic-light-color;
        font-size: 26px;
        padding: 21px 0 29px 35px;
        border-bottom: #3B3B3B 3px solid;
        span {
          display: none;
        }
      }

      .menu-link:focus, .menu-link:hover{
        color: $basic-purple-color;
        span {
          display: block;
          position: absolute;
          left: 4px;
          top: 14px;
          height: 60px;
          border-left: 8px solid #8d81ac;
          border-radius: 2px;
        }
      }
    }

    &__menu.active {
      top: 92px;
      transition: all 0.9s ease 0s;
    }

    //---- кнопка (buy now) в хэдере в шапке ----------
    &__button{
      position: relative;
      left: 2%;
      @include  hat-btn();
      font-size: 15px;
      &:hover, &:focus{
        @include hat-btn-hover();
        transition: all 0.9s ease 0s;
      }
    }

    //---- бургер (кнопка для меню) в хэдере в шапке --
    &__burger{
      @include burger();
    }
  }

//------------------------------ контэнт в шапке ------
  .hat-content{
    @include display-flex-column-center();
    padding: 156px 0 0 0;
    &__title{
      @include title-style();
      font-size: 48px;
    }
    &__slogan{
      @include hat-logo-purple-txt();
      font-size: 18px;
      font-weight: 400;
      margin: 25px 25px 20px;
      text-transform: capitalize;
    }
    &__txt{
      @include hat-gray-txt();
      font-size: 14px;
      text-transform: uppercase;
    }
  }

//----------- футтер (кнопка download free) в шапке ----
  .hat-footer{
    width: 100%;
    position: absolute;
    top: 97%;
    right: 0;
    z-index: 2;
    @include display-flex-column-center();
    &__button{
      @include  hat-btn();
      font-size: 18px;
      margin: 0 0 4px 0;
      &:hover, &:focus{
        @include hat-btn-hover();
        transition: all 0.9s ease 0s;
      }
    }
    &__txt{
      @include hat-gray-txt();
      font-size: 14px;
      text-transform: capitalize;
    }
  }
}


//========== min-width: 481px (and (max-width: 992px))===
@media (min-width: 481px) {
  .hat-fork-app-section{
    &__container {
      max-width: 992px;
      padding: 24px 0 0 0;
      //border: 2px solid #0035f6;
    }
    height: 100%;
  }

  .hat-header{
    max-width: 990px;
    padding: 25px 20px 50px 15px;

    &__logo{
      .logo-txt{
        display: flex;
        @include hat-logo-purple-txt();
        text-transform: uppercase;
      }
      .logo-txt.active, .logo-txt:hover {
        color: $basic-light-color;
      }
    }

    &__menu {
      @include display-flex-row-center-center();
      width: 100%;
      justify-content: space-around;
      text-align: center;
      position: absolute;
      top: 84px;
      left: 0;
      background-color: transparent;
      .menu-list {
        @include display-flex-row-center-center();
        //text-align: center;
      }

      .menu-link {
        font-size: 16px;
        font-weight: 600;
        color: $basic-purple-color;
        display: block;
        padding: 0 0.5em;
        border-bottom: 0;
      }

      .menu-link:focus, .menu-link:hover{
        color: $basic-light-color;
        span {
          display: none;
        }
      }
    }

    &__menu.active {
      top: 84px;
      transition: all 0s ease 0s;
    }

    &__button{
      font-size: 16px;
      margin-right: 1.5%;
    }

    &__burger{
      display: none;
    }

    @media (min-width: 680px){
      .menu-link {
        padding: 0 2.0em;
        transition: all 0.9s ease 0s;
      }
    }
    @media (min-width: 960px){
      .menu-link {
        padding: 0 4.0em;
        transition: all 0.9s ease 0s;
      }
    }
  }

  .hat-content{
    padding: 186px 0 0 0;
    &__title{
      font-size: 72px;
    }
    &__slogan{
      font-size: 24px;
    }
  }

  .hat-footer{
    &__button{
      font-size: 21px;
      margin: 0 0 18px 0;
    }
  }
}


//========== min-width: 993px (and (max-width: 1200px))===
@media (min-width: 993px) {
  .hat-fork-app-section {
    &__container {
      max-width: 1200px;
      padding: 30px 10px 0 10px;
      //border: 2px solid #5de200;
    }
  }

  .hat-header {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1200px;
    margin: 0;
    padding: 40px 15px;
    background-color: transparent;

    //---- меню (nav) в хэдере в шапке ----------------
    &__menu {
      @include display-flex-row-center-center();
      width: 50%;
      position: relative;
      top: 2px;
      left: 0;
      background-color: transparent;
      transition: all 0s ease 0s;
    }

    .menu-list {
      @include display-flex-row-center-center();
    }

    .menu-link {
      @include hat-header-menu-link();
      font-size: 16px;
      font-weight: 600;
      color: $basic-purple-color;
      display: block;
      padding: 0 0.5em;
      border-bottom: 0;

      span {
        //display: none;
      }
    }

    @media (min-width: 1100px) {
      .hat-header__logo {
        margin-right: 9em;
        transition: all 0.9s ease 0s;
      }
      a.menu-link {
        padding: 0 1.2em;
        transition: all 0.9s ease 0s;
      }
    }

    &__menu.active {
      top: 0;
    }
  }

  .hat-content {
    padding: 176px 0 0 0;

    &__title {
      font-size: 82px;
    }

    &__slogan {
      font-size: 30px;
    }
  }

  @media (min-width: 1100px){
    .hat-header__logo {
      margin-right: 9em;
      transition: all 0.9s ease 0s;}
    a.menu-link {
      padding: 0 1.2em;
      transition: all 0.9s ease 0s;}
  }
}







