@import "../variables-styles/variables";
@import "../mixins-styles/mixins";

//========== min-width: 481px (and (max-width: 992px))===
@media (min-width: 481px) {
  .hat-fork-app-section{
    &__container {
      position: relative;
      max-width: 992px;
      height: 100%;
      margin: 0 auto;
      padding: 24px 0 0 0;
      //border: 2px solid #0035f6;
    }
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url("../img-min/sections-background-images/head-bg-img(Vika).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  //===== хэдэр в шапке =================================
  .hat-header{
    @include display-flex-row-spaceBtw-center();
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0 auto;
    max-width: 990px;
    padding: 25px 20px 50px 15px;
    background-color: #222222;
    z-index: 9;

    //---- лого (nav) в хэдере в шапке ----------------
    &__logo{
      @include display-flex-row-spaceBtw-center();
      cursor: pointer;

      .logo-img{
        display: none;
      }

      .logo-img.active{
        display: flex;
        max-width: 100%;
        margin: 0 10% 0 0;
      }

      .logo-txt{
        display: flex;
        @include hat-logo-purple-txt();
        text-transform: uppercase;
      }

      .logo-txt.active, .logo-txt:hover {
        color: $basic-light-color;
      }
    }

    //---- меню (nav) в хэдере в шапке ----------------
    &__menu {
      @include display-flex-row-center-center();
      width: 100%;
      justify-content: space-around;
      text-align: center;
      position: absolute;
      top: 84px;
      left: 0;
      background-color: transparent;

      .menu-list {
        text-align: center;
        @include display-flex-row-center-center();
      }

      .menu-link {
        @include hat-header-menu-link();
        font-size: 16px;
        font-weight: 600;
        color: $basic-purple-color;
        display: block;
        padding: 0 0.5em;
        border-bottom: 0;
        //transition: all 0.9s ease 0s;
        span {
          display: none;
        }
      }

      .menu-link:focus, .menu-link:hover{
        color: $basic-light-color;
        span {
          display: none;
        }
      }
    }

    &__menu.active {
      top: 84px;
      transition: all 0s ease 0s;
    }

    @media (min-width: 680px){
      .menu-link { padding: 0 2.0em; transition: all 0.9s ease 0s; }
    }
    @media (min-width: 960px){
      .menu-link { padding: 0 4.0em; transition: all 0.9s ease 0s; }
    }

    //---- кнопка (buy now) в хэдере в шапке ----------
    &__button{
      position: relative;
      left: 2%;
      @include  hat-btn();
      font-size: 16px;
      margin-right: 1.5%;

      &:hover, &:focus{
        @include hat-btn-hover();
        transition: all 0.9s ease 0s;
      }
    }

    //---- бургер (кнопка для меню) в хэдере в шапке --
    &__burger{
      display: none;
    }
  }

  //===== контэнт в шапке ===============================
  .hat-content{
    @include display-flex-column-center();
    padding: 186px 0 0 0;

    &__title{
      @include title-style();
      font-size: 72px;
    }

    &__slogan{
      @include hat-logo-purple-txt();
      font-size: 24px;
      font-weight: 400;
      margin: 25px 25px 20px;
      text-transform: capitalize;
    }

    &__txt{
      @include hat-gray-txt();
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  //===== футтер (кнопка download free) в шапке =========
  .hat-footer{
    width: 100%;
    position: absolute;
    top: 98%;
    right: 0;
    z-index: 2;
    @include display-flex-column-center();

    &__button{
      @include  hat-btn();
      font-size: 21px;
      margin: 0 0 18px 0;
      &:hover, &:focus{
        @include hat-btn-hover();
        transition: all 0.9s ease 0s;
      }
    }

    &__txt{
      @include hat-gray-txt();
      font-size: 14px;
      text-transform: capitalize;
    }
  }
}


