@import "../variables-styles/variables";
@import "../mixins-styles/mixins";

//========== min-width: 993px (and (max-width: 1200px))===
@media (min-width: 993px) {
  .hat-fork-app-section{
    &__container {
      position: relative;
      max-width: 1200px;
      height: 100%;
      margin: 0 auto;
      padding: 30px 10px 0 10px;
      //border: 2px solid #5de200;
    }
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url("../img-min/sections-background-images/head-bg-img(Vika).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  //===== хэдэр в шапке =================================
  .hat-header {
    @include display-flex-row-spaceBtw-center();
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1200px;
    margin: 0;
    padding: 40px 15px;
    background-color: transparent;
    z-index: 9;

    //---- лого (nav) в хэдере в шапке ----------------
    &__logo {
      @include display-flex-row-spaceBtw-center();
      cursor: pointer;
      .logo-img {
        display: none;
      }
      .logo-img.active {
        display: flex;
        max-width: 100%;
        margin: 0 10% 0 0;
      }
      .logo-txt {
        display: flex;
        @include hat-logo-purple-txt();
        text-transform: uppercase;
      }
      .logo-txt.active, .logo-txt:hover {
        color: $basic-light-color;
      }
    }

    //---- меню (nav) в хэдере в шапке ----------------
    &__menu {
      @include display-flex-row-center-center();
      width: 50%;
      position: relative;
      top: 2px;
      left: 0;
      background-color: transparent;
      transition: all 0s ease 0s;
    }

    .menu-list {
      @include display-flex-row-center-center();
    }

    .menu-link {
      @include hat-header-menu-link();
      font-size: 16px;
      font-weight: 600;
      color: $basic-purple-color;
      display: block;
      padding: 0 0.5em;
      border-bottom: 0;
      span {
        display: none;
      }
    }

    @media (min-width: 1100px){
      .hat-header__logo { margin-right: 9em; transition: all 0.9s ease 0s;}
      a.menu-link { padding: 0 1.2em; transition: all 0.9s ease 0s;}
    }

    .menu-link:focus, .menu-link:hover {
      color: $basic-light-color;
      span { display: none; }
    }

    &__menu.active {
      top: 0;
      transition: all 0s ease 0s;
    }

    //---- кнопка (buy now) в хэдере в шапке ----------
    &__button {
    position: relative;
    left: 0;
    @include hat-btn();
    font-size: 16px;
    margin-right: 0;
      &:hover, &:focus {
        @include hat-btn-hover();
        transition: all 0.9s ease 0s;
      }
  }

    //---- бургер (кнопка для меню) в хэдере в шапке --
    &__burger {
      display: none;}
  }

  //===== контэнт в шапке ===============================
  .hat-content{
    @include display-flex-column-center();
    padding: 183px 0 0 0;
    &__title{
      @include title-style();
      font-size: 82px;
    }

    &__slogan{
      @include hat-logo-purple-txt();
      font-size: 30px;
      font-weight: 400;
      margin: 25px 25px 20px;
      text-transform: capitalize;
    }

    &__txt{
      @include hat-gray-txt();
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  //===== футтер (кнопка download free) в шапке =========
  .hat-footer{
    width: 100%;
    position: absolute;
    top: 98%;
    right: 0;
    z-index: 2;
    @include display-flex-column-center();

    &__button{
      @include  hat-btn();
      font-size: 21px;
      margin: 0 0 18px 0;
      &:hover, &:focus{
        @include hat-btn-hover();
        transition: all 0.9s ease 0s;
      }
    }

    &__txt{
      @include hat-gray-txt();
      font-size: 14px;
      text-transform: capitalize;
    }
  }
}








