@import "../custom-reset-styles/reset";
@import "../variables-styles/variables";
@import "../mixins-styles/mixins";
@import "../media-requests(max)/media-requests-styles";

.editor-section{
  padding: 100px 0 70px 0;
  background-color: #ffffff;
}

.editor-section__container{
  @include flex-default;
  flex-wrap: wrap;
  // Titles
  .editor__title{
    @include editor-title;
    margin: 0 0 35px 0;
    font-size: 54px;
    line-height: 54px;
  }
  .editor__subtitle{
    @include editor-subtitle;
    font-size: 21px;
    line-height: 32px;
    margin: 0 0 13px 0;
  }
  // Buttons
  // Оболочка - wrapper
  .editor-buttons-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // margin + border
    .editor-button:nth-child(2){
      margin: 0 10px;
    }
    .editor-button{
      border: $editor-btn-border;
      border-radius: 6px;
      // Border + icon padding
      .editor-button__icon{
        border-right: $editor-btn-border;
        .fas,.far{
          padding: 0 3px 0 0;
        }
      }
      // Buttons text styles
      a{
        &:hover{
          background-color: #f5f5f5;
        }
        @include editor-button-text-style;
      }
    }
  }
}