*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
img {
  max-width: 100%;
  display: block;
  font-size: 0;
}
ul,
ol{
  list-style: none;
}
button:active{
  outline: none;
  border: none;
}