$editor-btn-border: 1px solid rgba(27,31,35,.15);
$subtitle-title-text-color: #323232;
$main-font: 'Montserrat', sans-serif;

//==Vicky== hat-fork-app-section & talk-about-fork-section ========
$hat-logo-font-lato: normal 24px/1.5 'Lato', sans-serif;
$hat-basic-font-montserrat: normal 16px/1.5 'Montserrat', sans-serif;
$talkabout-link-font-lato: italic 600 16px/1.5 'Lato', sans-serif;

$basic-purple-color: #8D81AC;
$basic-light-color: #ffffff;
$basic-gray-color: #848E97;
$shadow-purple-color: #a291a5;
//==================================================================