@import "custom-reset-styles/reset";
@import "variables-styles/variables";
@import "mixins-styles/mixins";
@import "media-requests(max)/media-requests-styles";

// Main Styles
._container{
  margin: 0 auto;
  padding: 0 10px;
}
//<-- Max -->
@import "rev-editor-section(max)/rev-editor-styles";
@import "what-u-get-section(max)/get-section-styles";
@import "pricing-cards-section(max)/cards-styles";



// ==Vicky== Стили секций + media: hat-forkApp, talk-about-forkApp ===
@import "hat-fork-app-section-styles(vicky)/hatForkStyles";
// или можно так подключать
//@import "hat-fork-app-section-styles(vicky)/hatFork_choice_media";
@import "talk-about-fork-section-styles(vicky)/talkAboutStyles";
// или можно так
//@import "talk-about-fork-section-styles(vicky)/talkAbout_choice_media";