@import "../variables-styles/variables";

// < -- Main wrapper -- > \\
@mixin flex-default{
  display: flex;
  //flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin editor-title{
  font-family: $main-font;
  font-weight: 700;
  letter-spacing: 0;
  color: #635C73;
  text-align: center;
  text-transform: uppercase;
}
@mixin editor-subtitle{
  font-family: 'Lato', sans-serif;
  letter-spacing: 0;
  text-align: center;
  color: $subtitle-title-text-color;
}
@mixin editor-button-text-style{
  text-decoration: none;
  display: inline-block;
  color: #24292e;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  font-family:  $main-font;
  cursor: pointer;
}
@mixin title{
  font-family:  $main-font;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
}


//==Vicky== hat-fork-app-section & talk-about-fork-section ========
@mixin hat-btn() {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font: $hat-basic-font-montserrat;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  color: $basic-light-color;
  background-color: $basic-purple-color;
  border: 1px solid transparent;
  padding: .3rem 1.7rem;
  border-radius: 1.3rem;
  transition: all .15s
}

@mixin hat-btn-hover{
  color: $basic-purple-color;
  background-color: $basic-light-color;
  border: 1px solid $basic-purple-color;
}

@mixin display-flex-column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@mixin display-flex-row-center-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

@mixin display-flex-row-spaceBtw-center{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin hat-header-menu-link(){
  cursor: pointer;
  font: $hat-basic-font-montserrat;
  text-decoration: none;
  text-transform: capitalize;
}

@mixin title-style{
  font: $hat-basic-font-montserrat;
  color: $basic-light-color;
  font-size: 72px;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
  text-transform: capitalize;
}

@mixin hat-logo-purple-txt{
  text-align: center;
  font: $hat-logo-font-lato;
  color: $basic-purple-color;
  font-weight: 700;
}

@mixin hat-gray-txt{
  text-align: center;
  font: $hat-basic-font-montserrat;
  color: $basic-gray-color;
  font-weight: 400;
}

@mixin burger{
  width: 50px;
  height: 40px;

  position: relative;
  right: -13px;
  //background-color: #222222;
  cursor: pointer;
  z-index: 1;
  //----------------бургер-линии----меню закрыто ----------
  span{
    background-color: #ffffff;
    width: 60%;
    height: 2px;
    border-radius: 2px;

    position: absolute;
    left: 20%;
    top: 48%;
    transition: all 0.3s ease 0s;
  }
  &:before,
  &:after{
    content: '';
    background-color: #ffffff;
    height: 2px;
    border-radius: 2px;

    position: absolute;
    left: 20%;
    transition: all 0.3s ease 0s;
  }
  &:before{
    width: 30%;
    left: 50%;
    top: 25%;
  }
  &:after{
    width: 60%;
    bottom: 25%;
  }
  //----------------бургер-крестик----меню открыто -----------
  &.active span{
    transform: scale(0);
  }
  &.active:before{
    height: 3px;
    width: 60%;
    left: 20%;
    transform: rotate(45deg);
    top: 46%;
  }
  &.active:after{
    height: 3px;
    transform: rotate(-45deg);
    bottom: 48%;
  }
}
//==================================================================