@import "../custom-reset-styles/reset";
@import "../variables-styles/variables";
@import "../mixins-styles/mixins";
@import "../media-requests(max)/media-requests-styles";

.subscribing-section{
  background-image: url("../img-min/sections-background-images/pricing-background-blur(Max).png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.subscribing-section__container{
  @include flex-default;
  width: 100%;
}
.subscribing__title{
  margin: 114px auto 61px auto;
  .title{
    @include title;
    font-size: 48px;
    line-height: 50px;
  }
}
.subscribing-cards{
  display: grid;
  justify-content: center;
  grid-template-columns: 24% 24% 28% 24%;
  align-items: center;
  grid-template-rows: repeat(1, auto);
  grid-gap: 15px;
  width: 95%;
  padding: 0 0 97px 0;
}
.card-title-wrap{
  font-family:  $main-font;;
  background-color: rgba(255, 255, 255, 0.06);
  padding: 36px 0;
  .card__title{
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
}
.card-description-wrap{
  @include flex-default;
  background-color: rgba(255, 255, 255, 0.11);
  font-family:  $main-font;
  .card__price{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;
    padding: 30px 5px 20px 5px;
  }
  .card__date{
    font-family:  $main-font;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    padding: 0 5px 38px 5px;
    border-bottom: 5px solid #8D81AC;
  }
  .container-text{
    min-width: 244px;
  }
  .card__license{
    font-family:  $main-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  .card__license-top{
    padding: 30px 5px 0 5px;
  }
  .card__license-bottom{
    padding: 0 5px 50px 5px;
  }
  .card__license-padding{
    padding: 36px 0 61px 0;
  }
  .card__button{
    font-family:  $main-font;
    background-color: rgba(255, 255, 255, 0.15);
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    line-height: 15px;
    border-radius: 20px;
    padding: 14px 36px;
    cursor: pointer;
    margin: 0 0 37px 0;
    &:hover{
      background-color: grey;
    }
    &:active{
      background-color: rgba(255, 255, 255, 0.15);

    }
  }
}
.card-title-wrap-dark{
  padding: 43px 0;
  background-color: rgba(0, 0, 0, .3);
}
.card-description-wrap-dark{
  background-color: rgba(70, 48, 72, 0.5);
  .card__price{
    font-size: 82px;
    line-height: 90px;
    padding: 14px 0 16px 0;
  }
  .card__date{
    padding: 0 0 46px 0;
  }
  .card__license-top{
    padding: 40px 5px 0 5px;
  }
  .card__license-bottom{
    padding: 0 5px 83px 5px;
  }
  .card__button{
    text-align: center;
    margin: 0 0 47px 0;
    padding: 18px 46px;
  }
}